
<% if user_signed_in? %>

  <h1>Friendfeed</h1>
  <% @group_posts.each do |post| %>
    <div class="well">
      <p><strong><%= post.user.name %></strong></p>
      <%= post.content %>
      <%= render "shared/likes", :post => post %>
      <% if current_user == post.user %>
      | <%= link_to "delete", post, method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %>
    </div>
      <%= render "shared/comments", :post => post %>
  <% end %>
  
<% else %>
  <div class = "homepage">
    <h1>A recreation of Facebook written in Ruby on Rails</h1>
    <p><%= link_to "Sign up", new_user_registration_path %> to use it!</p>
  </div>
  
<% end %>
