<h1>Profile for <%= @user.name %></h1>

<% if current_user == @user %>
  <%= link_to "Edit Account Info", edit_user_registration_path, class: "edit_profile" %>
  
  <br>
  <br>

  <%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Write what's on your mind...", class: "form-control", rows: "3", :required => true, :maxlength => 400 %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary btn-lg btn-block" %>
  <% end %>
<% else %>
  <% if @user.friend_requests.include?(current_user) %>
    <button type="button" class="btn btn-info" disabled="disabled">Friend request pending</button>
    <br>
  <% elsif !@user.friends.include?(current_user) %>
    <%= link_to "Befriend", requests_path(:user_id => @user.id), method: :post, class: "btn btn-info", role: "button" %>
    <br>
  <% end %>
<% end %>

<br>

<% @user_posts.each do |post| %>
  <div class="well">
    <p><strong><%= post.user.name %></strong></p>
    <%= post.content %>
    <%= render "shared/likes", :post => post %>
  </div>
    <%= render "shared/comments", :post => post %>
<% end %>