<% provide(:title, @user.name) %>

<h1><%= gravatar_for @user %> Profile for <%= @user.name %></h1>

<% if current_user == @user %>
  <%= link_to "Edit Profile Info", edit_profile_path(@user), class: "edit_profile" %>
  | <%= link_to "Edit Account Info", edit_user_registration_path, class: "edit_profile" %>
  <br>
<% end %>
  
<% if @user.profile %>
  <br>
  <% if @user.profile.birthday.present? %>
  <p><strong>Age: </strong><%= @user.profile.age %></p>
  <% end %>
  <% if @user.profile.gender.present? %>
  <p><strong>Gender: </strong><%= @user.profile.gender %></p>
  <% end %>
  <% if @user.profile.home_city.present? %>
  <p><strong>Home City: </strong><%= @user.profile.home_city %></p>
  <% end %>
  <% if @user.profile.relationship_status.present? %>
  <p><strong>Relationship Status: </strong><%= @user.profile.relationship_status %></p>
  <% end %>
<% end %>

<div class = "post_container" >
  
<% if current_user == @user %>
  <br>
  <%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Write what's on your mind...", class: "form-control", rows: "3", :required => true, :maxlength => 400 %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary btn-lg btn-block" %>
  <% end %>
<% else %>
  <% if @user.friend_requests.include?(current_user) %>
    <button type="button" class="btn btn-info" disabled="disabled">Friend request pending</button>
    <br>
  <% elsif !@user.friends.include?(current_user) %>
    <%= link_to "Befriend", requests_path(:user_id => @user.id), method: :post, class: "btn btn-info", role: "button" %>
    <br>
  <% end %>
<% end %>

</div>

<br>

<% @user_posts.each do |post| %>
  <div class="well">
    <p><strong><%= post.user.name %></strong></p>
    <%= post.content %>
    <%= render "shared/likes", :post => post %>
    <% if current_user == post.user %>
    | <%= link_to "delete", post, method: :delete,
                                data: { confirm: "You sure?" } %>
    <% end %>
  </div>
    <%= render "shared/comments", :post => post %>
<% end %>

<%= will_paginate @user_posts %>