<% if post.comments.any?  %>
  <% post.comments.sort_by { |p| p.created_at }.each do |comment| %>
    <div class="well comment-well">
      <p><strong><%= comment.user.name %></strong></p>
      <%= comment.content %>
    </div>
  <% end %>
<% end %>

<% @comment = Comment.new %>

<div class="comment-well">
  <%= form_for(@comment) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.hidden_field(:post_id, :value => post.id) %>
    <div class="form-group">
      <div class="col-lg-6">
        <%= f.text_area :content, placeholder: "Leave a comment...", class: "form-control", rows: "1", :required => true, :maxlength => 400 %>
      </div>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
  <br>
</div>